# This is the CODEOWNERS file that helps determine who can validate what code in a PR review
# Please update the file as this code base evolves

################
# Single users #
################

# Creator is in control
*    @CREATOR

# Admiral is always the boss
*    @admiralawkbar

# Hubot can update itself
*    @hubot

#########
# Teams #
#########

# Robots to solve everything
*    @demo-org/Autobots

# Hardware team for the autmation
Automation/*    @demo-org/sme-hardware-team

# Node Experts for the codebase
scripts/*    @demo-org/sme-node

# Node experts to solve dependency issues
package.json     @demo-org/sme-node
